In [1]:
#tuple is immutable
a=((12,34),(34,56),(45,56))
a

((12, 34), (34, 56), (45, 56))

In [2]:
names=('swa','rekha','many','baby')
names

('swa', 'rekha', 'many', 'baby')

In [3]:
nums=(1,344,34,54)
nums

(1, 344, 34, 54)

In [5]:
nu=45,56,78,734
nu

(45, 56, 78, 734)

In [6]:
number=(67)
number

67

In [7]:
number=(67,) #if you have only 1 element in tuple use ,
number

(67,)

In [10]:
tup=tuple(['dwe','gf','fg','dsfgdg'])
tup

('dwe', 'gf', 'fg', 'dsfgdg')

In [11]:

dir(tup)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [12]:
tupwithalist=(23,'apple',[3,54,5])
tupwithalist

(23, 'apple', [3, 54, 5])

In [13]:
tupwithalist[2][1]='orange'
tupwithalist

(23, 'apple', [3, 'orange', 5])

In [14]:
a=5
b=34

#replace num
c=b
b=a
a=c
del c
a

34

In [15]:
b

5

In [16]:
a='swa'
b='reka'
a,b=b,a
a

'reka'

In [17]:
b

'swa'

In [20]:
def add(*args):
    tot=0
    for i in args:
        tot=tot+i
    print(tot)
        
add(5,767,2)

774